<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/1_Login_Password.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <div class="header">
        <span>JUNO ADMIN</span>
    </div>

    <div class="container">
        <h1>Forgot your password</h1>
        <form action="/verify-username" method="post">
            <label for="username">Don't worry, enter your username and we'll reset your password.</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <button type="submit">Send</button>
            <% if (typeof error !== 'undefined') { %>
                <p id="error-message" style="color: red; margin-top: 10px;">
                    <%= error %>
                </p>
                <% } %>

                    <% if (typeof success !== 'undefined') { %>
                        <p style="color: green; margin-top: 10px;">
                            <%= success %>
                        </p>
                        <% } %>

        </form>
    </div>
</body>

</html>