<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/1_Login_Password.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <div class="header">
        <span>JUNO ADMIN</span>
    </div>

    <div class="container">
        <h1>Reset your password</h1>
        <form action="/reset-password" method="post">
            <input type="hidden" name="username" value="<%= username %>">
            <p>Please enter a new password.</p>

            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="newPassword" placeholder="Enter your new password" required>

            <label for="confirm-password">Confirm New Password:</label>
            <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm your new password" required>

            <button type="submit">Confirm</button>
        </form>

    </div>
</body>

</html>