<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/2_choice_page.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Menu</title>
</head>

<body>
    <div class="header">JUNO ADMIN</div>

    <div class="page-content">
        <h1 class="page-title">Admin Menu</h1>

        <div class="box-container">
            <a class="box-link" href="/data-management">Data Management</a>
            <a class="box-link" href="/read-only-analyst">Read-Only Analyst</a>
            <a class="box-link" href="/login">Logout</a>
        </div>
    </div>
</body>

</html>