<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/2_choice_page.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read-Only Analyst</title>
</head>

<body>
    <div class="header">JUNO ADMIN</div>

    <div class="top-nav">
        <a href="/admin-menu">Home</a>
        <a href="/read-only-analyst">Read-Only Analyst</a>
        <a href="/data-management">Data Management</a>
        <a class="logout" href="/logout">Logout</a>
    </div>

    <div class="breadcrumb">
        <a href="/admin-menu">Home</a>
        <a>Read-Only Analyst</a>
    </div>


    <div class="page-content">
        <h1 class="page-title">Read-Only Analyst</h1>

        <div class="box-container">
            <a class="box-link" href="/dashboard">Dashboard</a>
            <a class="box-link" href="/all-stores">All Stores</a>
            <a class="box-link" href="/product-approved">Product Approved</a>
            <a class="box-link" href="/store-rating-history">Store Rating History</a>
        </div>
    </div>
</body>

</html>