/* Login, forgot password, reset, changed */

body {
    background-color: #ffffff;
    /* เปลี่ยนพื้นหลังเป็นสีขาว */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    /* <<< เปลี่ยนขนาดตัวอักษรที่นี่ */
    font-weight: bold;
    color: #000000;
}

.container {
    /* ลบพื้นหลัง กล่อง เงา และขอบมน */
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* เปลี่ยนจาก flex-start เป็น center */
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
}


/* เพิ่มเฉพาะปุ่มให้ดูเน้นขึ้นนิดนึง */

button {
    background-color: #D0AAD1;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b68fbf;
}

.forgot-password {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}