<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>Moso Interior - HTML CSS Template</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->

    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/owl.carousel.min.css" rel="stylesheet">

    <link href="css/tooplate-moso-interior.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />


</head>



<body>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#top" class="logo">
                            <h1>JUNO</h1>
                        </a>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Search Start ***** -->
                        <div class="search-input">
                            <form id="search" action="/2-Search" method="GET">
                                <input type="text" placeholder="Type Something" id="searchText" name="keyword" />
                                <i class="fa fa-search"></i>
                            </form>
                        </div>

                        <!-- ***** Search End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li><a href="/My_wishlist">Favorite</a></li>
                            <li><a href="/Cart">Cart</a></li>
                            <li><a href="/My_account_Profile">Account</a></li>
                        </ul>

                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <main>


        <div class="contact-us section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="section-heading">
                            <h2>My Account</h2>
                            <h5><a href="/My_account_Profile">My Profile</a></h5><br>
                            <h5><a href="/My_wishlist">My Wishlist</a></h5><br>
                            <h5><a href="/My_order">My Order</a></h5><br>
                            <h5><a href="/My_Address">My Addresses</a></h5><br>
                            <!-- No link -->
                            <h5><a href="#">My Store</a></h5><br>
                            <h5><a href="/logout">Log out</a></h5>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="contact-us-content">
                            <form id="contact-form" action="/submit-product" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <h6>Add Product</h6>

                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input type="text" name="productName" id="ProductName" placeholder="Product Name" required>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-12">
                                        <fieldset>
                                            <select name="vendortype" id="vendortype" required>
                                                <option value="" disabled selected>Vendor type: Individual or Company</option>
                                                <option value="Fashion & Clothing">Fashion & Clothing</option>
                                                <option value="Electronics & Appliances">Electronics & Appliances</option>
                                                <option value="Health & Beauty">Health & Beauty</option>
                                                <option value="Home & Living">Home & Living</option>
                                                <option value="Food & Beverages">Food & Beverages</option>
                                                <option value="Mom & Baby">Mom & Baby</option>
                                                <option value="Electronics & Gadgets">Electronics & Gadgets</option>
                                            </select>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input type="file" name="image" id="image" accept="image/*" required>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input type="number" name="price" id="Price" placeholder="Price" required>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input type="number" name="quantity" id="Quantity" placeholder="Quantity" required>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="description" id="Description" placeholder="Description" required></textarea>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-12">
                                        <button type="submit" class="orange-button">Submit</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </main>

    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Contact Us: <a href="mailto:Juno.Shop@gmail.com">Juno.Shop@gmail.com</a></p>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/counter.js"></script>
    <script src="assets/js/custom.js"></script>


</body>

</html>